@model AdSetDesafio.Infrastructure.ViewModel.VeiculoViewModel

@using (Html.BeginForm("Create", "Car", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Marca)
        @Html.TextBoxFor(model => model.Marca, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Modelo)
        @Html.TextBoxFor(model => model.Modelo, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ano)
        @Html.TextBoxFor(model => model.Ano, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Placa)
        @Html.TextBoxFor(model => model.Placa, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Km)
        @Html.TextBoxFor(model => model.Km, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cor)
        @Html.TextBoxFor(model => model.Cor, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Preco)
        @Html.TextBoxFor(model => model.Preco, new { @class = "form-control" })
    </div>

@*     <div class="form-group">
        @Html.LabelFor(model => model.Options)
        @Html.TextBoxFor(model => model.Options, new { @class = "form-control" })
    </div> *@
@* 
    <div class="form-group">
        @Html.LabelFor(model => model.Photos)
        <input type="file" name="Photos" multiple class="form-control" />
    </div> *@

@*     <div class="form-group">
        @Html.LabelFor(model => model.PackageICarros)
        @Html.DropDownListFor(model => model.PackageICarros, (SelectList)ViewBag.Packages, new { @class = "form-control" })
    </div> *@

@*     <div class="form-group">
        @Html.LabelFor(model => model.PackageWebMotors)
        @Html.DropDownListFor(model => model.PackageWebMotors, (SelectList)ViewBag.Packages, new { @class = "form-control" })
    </div> *@

    <button type="submit" class="btn btn-primary">Create</button>
}
