@using ADSET.Application.DTOs.Enums
@using System.Text.Json
@using ADSET.Web.DTOs.Requests
@using System.Globalization
@model IndexViewModel;

@{
    ViewData["Title"] = "Home Page";
    var filterVeiculoRequest = ViewData["FilterVeiculoRequest"] as FilterVeiculoRequest;
}

<section class="bg-light shadow-sm" style="height: 90px;align-content: center;">
    <div class="row">
        <div class="col-7">
            <div class="row menu-card">
                <div class="col">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <span class="text-secondary">@Model.QtdVeiculos.TotalVeiculo Veiculos</span> <br />
                            <span class="text-primary fw-bold">Total</span>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-border-menu">
                    <div class="border-menu-rotate"></div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <span class="text-secondary">@Model.QtdVeiculos.TotalVeiculoComFoto Veiculos</span> <br />
                            <span class="text-success fw-bold">com fotos</span>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-border-menu">
                    <div class="border-menu-rotate"></div>
                </div>
                <div class="col">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <span class="text-secondary">@Model.QtdVeiculos.TotalVeiculoSemFoto Veiculos</span> <br />
                            <span class="text-danger fw-bold">sem fotos</span>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm exportar-estoque" onclick="ExportExcel()">
                        <div class="card bg-light">
                            <div class="card-body text-center">
                                <span class="text-secondary">Exportar Estoque</span> <br />
                                <div class="div-exportar-estoque">
                                    <img src="~/img/excel.png" width="25"/>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-auto" >
                    <a class="m-3" asp-controller="Home" asp-action="Create" style="height: 100%; align-content: center;">
                        <img src="~/img/Cadastrar.png" alt="" height="75" style="margin-top: 5px;">
                    </a>
                </div>
                <div class="col">

                </div>
                <div class="col-auto">
                     <a style="height: 100%; align-content: center; float: right; cursor:pointer;" onclick="$('#savePosicao').click()">
                        <img src="~/img/Salvar.png" alt="" height="75" style="margin-top: 5px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <form id="SearchVeiculos1" asp-controller="Home" asp-action="Index" method="get">
        <input type="hidden" value="@Model.Veiculos.PaginaAtual" id="paginaAtual" name="paginaAtual" />
        <input type="hidden" value="@Model.Veiculos.QtdPerPage" id="qtdPerPage" name="qtdPerPage" />
        <div class="row pb-3 pt-3 bg-white text-center rounded-border-form fs-7">
            <div class="col">
                <label for="placa">Placa</label>
                <input type="text" class="form-control form-control-sm" id="placa" name="placa" value="@filterVeiculoRequest.Placa">
            </div>
            <div class="col">
                <label for="marca">Marca</label>
                <select class="form-select form-select-sm" id="marca" name="marca" onchange="selectedMarca(@JsonSerializer.Serialize(Model.Marcas))">
                    <option value="">Todos</option>
                    @foreach (var item in Model.Marcas)
                    {
                        <option value="@item.Id" selected="@item.Selected">@item.Nome</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="modelo">Modelo</label>
                <select class="form-select form-select-sm" id="modelo" name="modelo">
                    <option value="">Todos</option>
                    @if (Model.Marcas.Any(m => m.Selected))
                    {
                        foreach (var modelo in Model.Marcas.Where(m => m.Selected).First().Modelos)
                        {
                            <option value="@modelo.Id" selected="@modelo.Selected">@modelo.Nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col">
                <label for="anoMin">Ano Min</label>
                <label for="anoMax">Ano Max</label>
                <div class="input-group">
                    <select class="form-select form-select-sm" id="anoMin" name="anoMin">
                        <option value="" selected>Todos</option>
                        @for (int i = 2000; i <= 2024; i++)
                        {
                            var selected = filterVeiculoRequest.AnoMin == i;
                            <option value="@i" selected="@selected">@i</option>
                        }
                    </select>
                    <select class="form-select form-select-sm" id="anoMax" name="anoMax">
                        <option value="" selected>Todos</option>
                        @for (int i = 2000; i <= 2024; i++)
                        {
                            var selected = filterVeiculoRequest.AnoMax == i;
                            <option value="@i" selected="@selected">@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col">
                <label for="preco">Preço</label>
                <select class="form-select form-select-sm" id="preco" name="preco">
                    <option value="" selected>Todos</option>
                    @{
                        var preco1 = (filterVeiculoRequest.Preco == "preco1");
                        var preco2 = (filterVeiculoRequest.Preco == "preco2");
                        var preco3 = (filterVeiculoRequest.Preco == "preco3");
                    }
                    <option value="preco1" selected="@preco1">10mil a 50mil</option>
                    <option value="preco2" selected="@preco2">50mil a 90mil</option>
                    <option value="preco3" selected="@preco3">+90mil</option>
                </select>
            </div>
            <div class="col">
                <label for="foto">Foto</label>
                <select class="form-select form-select-sm" id="foto" name="foto">
                    <option value="" selected>Todos</option>
                    @{
                        var CFoto = filterVeiculoRequest.Foto;
                        var SFoto = filterVeiculoRequest.Foto == false;
                    }
                    <option value="true" selected="@CFoto">Com foto</option>
                    <option value="false" selected="@SFoto">Sem Foto</option>
                </select>
            </div>
            <div class="col">
                <label for="opcional">Opcionais</label>
                <select class="form-select form-select-sm" id="opcional" name="opcional">
                    <option value="" selected>Todos</option>
                    @foreach (var item in Model.Opcionais)
                    {
                        <option value="@item.Id" selected="@item.Selected">@item.Nome</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="cor">Cor</label>
                <select class="form-select form-select-sm" id="cor" name="cor">
                    <option value="" selected>Todos</option>
                    @foreach (var item in Model.Cores)
                    {
                        <option value="@item.Nome" selected="@item.Selected">@item.Nome</option>
                    }
                </select>
            </div>
            <div class="col-auto" style="align-content: center;">
                <a asp-controller="Home" asp-action="Index" type="reset" class="btn btn-light rounded-circle"><i class="fa-solid fa-eraser" style="color: #ef0606;"></i></a>
            </div>
        </div>
        <div class="row align-items-center text-center">
            <div class="col">
                <button type="submit" class="btn btn-success btn-search btn-lg"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal" style="color: #ffffff;"></i> Buscar</button>
            </div>
        </div>
    </form>
</section>
<section class="bg-light shadow-sm">
    <div class="row pt-5">
        <div class="col-1 ordening-clean-col align-self-end">
            <div class="orderning-clean bg-success" style="align-content: center;">
                <div class="ordening">
                    <button type="reset" class="btn caret up"></i></button>
                    <button type="reset" class="btn caret down"></i></button>
                </div>
                <button type="reset" class="btn btn-light rounded-circle btn-erase"><i class="fa-solid fa-eraser" style="color: #ef0606;"></i></button>
            </div>
            <div class="orderning-caret right-success"></div>
        </div>
        <div class="col-7 align-self-end">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <table class="table" style="margin:0px;">
                        <thead>
                        <tr>
                            <th scope="col" class="border-end">
                                <div class="table-orderning-clean" style="align-content: center;">
                                    Marca/Modelo
                                    <div class="ordening ms-1">
                                        <button type="reset" class="btn caret up-dark mb-1"></i></button>
                                        <button type="reset" class="btn caret down-dark mt-1"></i></button>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="border-end">
                                <div class="table-orderning-clean" style="align-content: center;">
                                    Ano
                                    <div class="ordening ms-1">
                                        <button type="reset" class="btn caret up-dark mb-1"></i></button>
                                        <button type="reset" class="btn caret down-dark mt-1"></i></button>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="border-end">
                                <div class="table-orderning-clean" style="align-content: center;">
                                    Preço
                                    <div class="ordening ms-1">
                                        <button type="reset" class="btn caret up-dark mb-1"></i></button>
                                        <button type="reset" class="btn caret down-dark mt-1"></i></button>
                                    </div>
                                </div>
                            </th>
                            <th scope="col" class="border-end">
                                <div class="table-orderning-clean" style="align-content: center;">
                                    Fotos
                                    <div class="ordening ms-1">
                                        <button type="reset" class="btn caret up-dark mb-1"></i></button>
                                        <button type="reset" class="btn caret down-dark mt-1"></i></button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-auto">
                    <select class="form-select form-select-sm" id="qtdPerPage">
                        <option value="10" selected>Exibir 10</option>
                        <option value="20">Exibir 20</option>
                        <option value="50">Exibir 50</option>
                        <option value="100">Exibir 100</option>
                    </select>
                </div>
            </div>            
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <div class="card-images-integracao">
                                <img src="~/img/icarros-logo.png" width="50" height="50" alt="...">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card-images-integracao">
                                <img src="~/img/webmotors-logo.png" width="50" height="50" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white mt-1">
    <form asp-controller="Home" asp-action="Save" method="get">
    @foreach (var veiculo in Model.Veiculos.Dados)
    {
        var text = $"{veiculo.NomeMarca} {veiculo.NomeModelo} | {veiculo.Ano}";
        <div class="row pt-1" id="@veiculo.Id" style="border-bottom: 2px #CCC dashed;">
            <div class="col-8">
                <div class="row">
                    <div class="col-1">
                        <a asp-action="Delete" asp-route-id="@veiculo.Id" class="btn btn-light" style="height: 90%;align-content: center;background-color: #E7E7E7 !important;border-color: #E7E7E7 !important;"><i class="fa-solid fa-trash" style="color: #ef0606;" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-11">
                        <div class="card mb-3 border-0 bg-light">
                            <div class="row g-0 ">
                                <div class="col-md-4" style="height:200px; align-content:center;">
                                    @if (veiculo.CountFoto > 0)
                                    {
                                        <img src="@veiculo.Fotos[0].Caminho" alt="..." style="max-width: 100%; max-height:100%;">
                                    }
                                    else
                                    {
                                        <img src="~/img/sem-foto.jpg" alt="..." style="max-width: 100%; max-height:100%;">
                                    }
                                </div>
                                <div class="col-md-5">
                                    <div class="card-body">
                                        <h5 class="card-title bg-white text-black fw-bold p-2 rounded">@Html.DisplayFor(modelItem => text)</h5>
                                        <p class="card-text">
                                            <span>Placa - <span class="text-success">@Html.DisplayFor(modelItem => veiculo.Placa)</span></span><br />
                                            <span>Km - <span class="text-success">@Html.DisplayFor(modelItem => veiculo.Km)</span></span><br/>
                                            <span>Cor - <span class="text-success">@Html.DisplayFor(modelItem => veiculo.Cor)</span></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-3 align-self-end">
                                    <div class="row">
                                        <div class="col-12"></div>
                                        <div class="col-12">
                                            <ul class="nav text-center w-100 justify-content-center">
                                                <li class="nav-item"  >
                                                    <div class="m-2">
                                                        <a asp-action="Edit" asp-route-id="@veiculo.Id">
                                                            <button type="button" class="btn btn-primary edit-veiculo" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar Veículo">
                                                                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #ffffff;" ></i>
                                                            </button>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <div class="m-2">
                                                        <span class="text-success fw-bold">
                                                            <i class="fa-solid fa-camera  fa-xl" style="color: #525252;"></i><br />
                                                            @Html.DisplayFor(modelItem => veiculo.CountFoto)
                                                        </span>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <div class="m-2 text-success fw-bold">
                                                        @{
                                                            var textOpcional = $"Opcionais ({veiculo.Opcionais.Count}) <br>";
                                                        }
                                                        @foreach (var opcional in veiculo.Opcionais)
                                                        {
                                                            textOpcional += $"{opcional} <br>";
                                                        }
                                                        <button type="button" class="btn btn-light text-success fw-semibold p-0" 
                                                            data-bs-toggle="tooltip" data-bs-html="true" 
                                                            data-bs-title="@textOpcional"
                                                        >
                                                            <i class="fa-solid fa-car fa-xl" style="color: #525252;"></i><br />
                                                            Opcionais
                                                        </button>
                                                        <!--<span class="text-success fw-bold">
                                                            <i class="fa-solid fa-car fa-xl" style="color: #525252;"></i><br />
                                                            Opcionais
                                                        </span>-->
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 bg-white text-center">
                                            <div class="style-diagonal"></div>
                                                <span class="text-success fs-5 fw-bold">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", veiculo.Preco)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4" style="align-content: center;">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6 fs-7 border-end fw-bold">
                                <div class="mt-3">
                                    @{
                                        var diamanteFeirao = veiculo.Pacotes.Contains(TipoPacote.DiamanteFeirao) ? "checked" : "";
                                        var diamante = veiculo.Pacotes.Contains(TipoPacote.Diamante) ? "checked" : "";
                                        var platinum = veiculo.Pacotes.Contains(TipoPacote.Platinum) ? "checked" : "";
                                        var basico = veiculo.Pacotes.Contains(TipoPacote.Basico) ? "checked" : "";
                                    }
                                    <label class="form-check-label" for="@veiculo.Id-diamanteFeirao">Diamante Feirão</label>
                                    <div class="form-check fs-6">
                                        <input class="form-check-input" type="checkbox" value="@TipoPacote.DiamanteFeirao" name="@veiculo.Id" id="@veiculo.Id-diamanteFeirao" @diamanteFeirao>
                                        <label class="form-check-label" for="@veiculo.Id-diamanteFeirao">
                                            <span class="text-danger">010</span> - <span class="text-success">008</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label class="form-check-label" for="@veiculo.Id-diamante">Diamante</label>
                                    <div class="form-check fs-6">
                                        <input class="form-check-input" type="checkbox" value="@TipoPacote.Diamante" name="@veiculo.Id" id="@veiculo.Id-diamante" @diamante>
                                        <label class="form-check-label" for="@veiculo.Id-diamante">
                                            <span class="text-danger">030</span> - <span class="text-success">025</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <label class="form-check-label" for="@veiculo.Id-platinum">Platinum</label>
                                    <div class="form-check fs-6">
                                        <input class="form-check-input" type="checkbox" value="@TipoPacote.Platinum" name="@veiculo.Id" id="@veiculo.Id-platinum" @platinum>
                                        <label class="form-check-label" for="@veiculo.Id-platinum">
                                            <span class="text-danger">040</span> - <span class="text-success">010</span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6 fs-7 border-end fw-bold" style="align-content: center;">
                                <div class="mt-3">
                                    <label class="form-check-label" for="@veiculo.Id-basico">Básico</label>
                                    <div class="form-check fs-6">
                                        <input class="form-check-input" type="checkbox" value="@TipoPacote.Basico" name="@veiculo.Id" id="@veiculo.Id-basico" @basico>
                                        <label class="form-check-label" for="@veiculo.Id-basico">
                                            <span class="text-danger">030</span> - <span class="text-success">025</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
        </div>
    }
    <button type="submit" style="display:none;" id="savePosicao"></button>
    </form>
</section>

@{
    var firstDisabled = Model.Veiculos.PaginaAtual <= 1 ? "disabled" : "";
    var prevDisabled = Model.Veiculos.PaginaAtual <= 1 ? "disabled" : "";
    var prevPage = Model.Veiculos.PaginaAtual - 1;
    var nextDisabled = Model.Veiculos.PaginaAtual >= Model.Veiculos.TotalPaginas ? "disabled" : "";
    var nextPage = Model.Veiculos.PaginaAtual + 1;
    var lastDisabled = Model.Veiculos.PaginaAtual == Model.Veiculos.TotalPaginas ? "disabled" : "";
}

<section class="bg-white mt-3">
    <div class="row">
        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item @prevDisabled">
                        <a class="page-link" aria-label="First" asp-action="Index" asp-route-paginaAtual="1"
                           asp-route-placa="@filterVeiculoRequest.Placa"
                           asp-route-marca="@filterVeiculoRequest.MarcaId"
                           asp-route-modelo="@filterVeiculoRequest.ModeloId"
                           asp-route-anoMin="@filterVeiculoRequest.AnoMin"
                           asp-route-anoMax="@filterVeiculoRequest.AnoMax"
                           asp-route-preco="@filterVeiculoRequest.Preco"
                           asp-route-foto="@filterVeiculoRequest.Foto"
                           asp-route-cor="@filterVeiculoRequest.Cor"
                           asp-route-qtdPerPage="@filterVeiculoRequest.QtdPerPage"
                           asp-route-opcional="@filterVeiculoRequest.OpcionalId">
                            <i class="fa-solid fa-angles-left"></i>
                        </a>
                    </li>
                    <li class="page-item @prevDisabled">
                        <a class="page-link" aria-label="Previous" asp-action="Index" 
                        asp-route-paginaAtual="@prevPage"
                        asp-route-placa="@filterVeiculoRequest.Placa"
                        asp-route-marca="@filterVeiculoRequest.MarcaId"
                        asp-route-modelo="@filterVeiculoRequest.ModeloId"
                        asp-route-anoMin="@filterVeiculoRequest.AnoMin"
                        asp-route-anoMax="@filterVeiculoRequest.AnoMax"
                        asp-route-preco="@filterVeiculoRequest.Preco"
                        asp-route-foto="@filterVeiculoRequest.Foto"
                        asp-route-cor="@filterVeiculoRequest.Cor"
                        asp-route-qtdPerPage="@filterVeiculoRequest.QtdPerPage"
                        asp-route-opcional="@filterVeiculoRequest.OpcionalId">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </li>
                    @for (int i = 1; i <= Model.Veiculos.TotalPaginas; i++)
                    {
                        var active = Model.Veiculos.PaginaAtual == i ? "active" : "";
                        <li class="page-item @active"><a class="page-link" asp-action="Index"
                            asp-route-paginaAtual="@i"
                            asp-route-placa="@filterVeiculoRequest.Placa"
                            asp-route-marca="@filterVeiculoRequest.MarcaId"
                            asp-route-modelo="@filterVeiculoRequest.ModeloId"
                            asp-route-anoMin="@filterVeiculoRequest.AnoMin"
                            asp-route-anoMax="@filterVeiculoRequest.AnoMax"
                            asp-route-preco="@filterVeiculoRequest.Preco"
                            asp-route-foto="@filterVeiculoRequest.Foto"
                            asp-route-cor="@filterVeiculoRequest.Cor"
                            asp-route-qtdPerPage="@filterVeiculoRequest.QtdPerPage"
                            asp-route-opcional="@filterVeiculoRequest.OpcionalId">@i</a>
                        </li>
                    }
                    <li class="page-item @nextDisabled">
                        <a class="page-link" aria-label="Next" asp-action="Index" asp-route-paginaAtual="@nextPage"
                           asp-route-placa="@filterVeiculoRequest.Placa"
                           asp-route-marca="@filterVeiculoRequest.MarcaId"
                           asp-route-modelo="@filterVeiculoRequest.ModeloId"
                           asp-route-anoMin="@filterVeiculoRequest.AnoMin"
                           asp-route-anoMax="@filterVeiculoRequest.AnoMax"
                           asp-route-preco="@filterVeiculoRequest.Preco"
                           asp-route-foto="@filterVeiculoRequest.Foto"
                           asp-route-cor="@filterVeiculoRequest.Cor"
                           asp-route-qtdPerPage="@filterVeiculoRequest.QtdPerPage"
                           asp-route-opcional="@filterVeiculoRequest.OpcionalId">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item @lastDisabled">
                        <a class="page-link" aria-label="Last" asp-action="Index" asp-route-paginaAtual="@(Model.Veiculos.TotalPaginas + 1)"
                           asp-route-placa="@filterVeiculoRequest.Placa"
                           asp-route-marca="@filterVeiculoRequest.MarcaId"
                           asp-route-modelo="@filterVeiculoRequest.ModeloId"
                           asp-route-anoMin="@filterVeiculoRequest.AnoMin"
                           asp-route-anoMax="@filterVeiculoRequest.AnoMax"
                           asp-route-preco="@filterVeiculoRequest.Preco"
                           asp-route-foto="@filterVeiculoRequest.Foto"
                           asp-route-cor="@filterVeiculoRequest.Cor"
                           asp-route-qtdPerPage="@filterVeiculoRequest.QtdPerPage"
                           asp-route-opcional="@filterVeiculoRequest.OpcionalId">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

<script>
    function selectedMarca(marca) {
        let select = $("#marca").val();
        $("#modelo").empty();
        $("#modelo").append('<option value="" selected>Selecione</option>')
        marca.find(m => m.Id === select).Modelos.forEach(function (modelo) {
            $("#modelo").append('<option value="' + modelo.Id + '">' + modelo.Nome + '</option>')
        });
    }
</script>